
html{
	font-family: Myriad Pro, Helvetica, Arial, sans serif;
	font-size: 30px;
	color: #000;
}

body{
	margin: 0px;
}

h1{
	font-family: "lavanderia_regular";
	color: #ff7600;
	font-size: 1em;
}

h2{
	font-size: 22px;
}

h3{
	font-family: "museo700";
	font-size: 1.5em;
}

h4{
	font-family: nexa_boldregular;
	font-size: 0.5em;
}

p{
	font-size: 0.6em;
	padding:0px;
}

p2{
	font-family: nexa_boldregular;
	font-size: 1em;
}

p3{
	font-family: nexa_lightregular;
	font-size: 1.1em;
}

p4{
	font-family: "lavanderia_regular";
	font-family: 2em;
	color: #222933;	
}

ul{
	font-family: "museo300";
	list-style-type: none;
	font-size: 14px;
	padding: 0px;
	padding-top: 5px;
	margin: 0px;
	color: #005daa;
}

li{
	display:inline;
	padding-left: 4px;
	padding-right: 4px;
}

#header{
	width: 100%;
	height: 70px;
	background-color: #ffffff;
	z-index: 3;
	position: relative;

	text-align: center;
	/* Inner shadow */
	/*-moz-box-shadow:    inset 0 0 4px #000000;
    -webkit-box-shadow: inset 0 0 4px #000000;
    box-shadow:         inset 0 0 4px #000000;*/
    /* Drop Shadow : Horisontell, vertical, blur radius, spread radius, color; */
    /*-moz-box-shadow:    0px 3px 10px 2px #7c7c7c;
    -webkit-box-shadow: 0px 3px 10px 2px #7c7c7c;
    box-shadow:         0px 3px 10px 2px #7c7c7c;*/

}

#logo {
	padding-top: 20px;
	font-weight: bold;
	color: #005daa;
}

#dropdown{
	width: 100%;
	height: 40px;
	background-color: #ffffff;
	z-index: 3;
	position: relative;
	text-align: center;
}

#home:hover{
	opacity: 0.5;
	cursor: pointer;
}

#instructions:hover{
	opacity: 0.5;
	cursor: pointer;
}

#about:hover{
	opacity: 0.5;
	cursor: pointer;
}

#box {
	text-align: center;
	width: 70%;
	height: 570px;
	top: -10px;
	margin: auto;
	position: relative;
	background-color: white;
	z-index: 2;
	padding: 40px;
	padding-top: 12px;

	-moz-box-shadow:    0px 3px 10px -5px #000;
    -webkit-box-shadow: 0px 3px 10px -5px #000;
    box-shadow:         0px 3px 10px -5px #000;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 10px;
}

#aboutBox {
	text-align: center;
	width: 70%;
	height: 570px;
	top: -10px;
	margin: auto;
	position: relative;
	background-color: white;
	z-index: 2;
	padding: 40px;

	-moz-box-shadow:    0px 3px 10px -5px #000;
    -webkit-box-shadow: 0px 3px 10px -5px #000;
    box-shadow:         0px 3px 10px -5px #000;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 10px;
}

#textBox{
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 30px;
}

#textBox img {
	margin-top: 30px;
	max-width: 180px;
}

#buttonBox{
	width: 100px;
	z-index: 1;
	position: absolute;
	bottom: 11.5%;
	left: 50%;
	margin-left: -50px;
}

.buttonBox2{
	width: 100px;
	z-index: 1;
	position: absolute;
	bottom: 5%;
	left: 50%;
	margin-left: -50px;
}

#more{
	width: 60px;
}

.button {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: #ff7600;
    font-family: 'Museo';
    font-weight: 700;
    font-size: 16px;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 5px 0px rgba(219,80,20,1), 0px 6px 5px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 5px 0px rgba(219,80,20,1), 0px 6px 5px rgba(0,0,0,.7);
    box-shadow: 0px 5px 0px rgba(219,80,20,1), 0px 6px 5px rgba(0,0,0,.7);
    /*margin: 100px auto;
	width: 160px;*/
	text-align: center;
	
	/*-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;*/
}

.button:active {
    -webkit-box-shadow: 0px 2px 0px rgba(219,31,5,1), 0px 2px 4px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 2px 0px rgba(219,31,5,1), 0px 2px 4px rgba(0,0,0,.9);
    box-shadow: 0px 2px 0px rgba(219,31,5,1), 0px 2px 4px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

#opacBox {
        /*height: 100%;
        margin: 0px;
        padding: 0px;*/
        background-color: black;
        opacity: 0.5;
        position: absolute;
		width: 100%; /*frame: width: 96%;*/
		height: 100%;  /*frame: width: 96%;*/
		top: 0px;
		left: 0%;  /*frame: width: 2%;*/
		z-index: 1;
      }

#mapWrap{
}

#map {
        /*height: 100%;
        margin: 0px;
        padding: 0px;*/
        position: absolute;
		width: 100%; /*frame: width: 96%;*/
		height: 100%;  /*frame: width: 96%;*/	
		top: 0px;
		left: 0%;  /*frame: width: 2%;*/
		z-index: 0;
      }

.infoWindow {
	text-align: center;
	font-size: 20px;
}

